.inner
  %h1 Edit Account

  = form_for @user do |f|
    = render 'shared/error_messages'
    .form-group
      = f.text_field :name, placeholder: 'Name'
    .form-group
      = f.text_field :email, placeholder: 'Email'
    .form-group
      = f.password_field :password, placeholder: 'Password'
    .form-group
      = f.password_field :password_confirmation, placeholder: 'Confirm password'

    = f.submit 'Save account details', class: 'btn btn-default'