%h1= @user.name
- if @user.id == current_user.id
  %p
    %span{class: 'black'}= link_to 'Edit Account', edit_user_path
    |
    %span{class: 'black'}= link_to 'Delete Account', user_path, method: :delete, data: {confirm: 'Are you sure you want to delete your account?'}
%h3 Compliments Sent:
- if @user.sent_compliments.any?
  = render partial: 'compliments/sent_compliment', collection: @user.sent_compliments, as: 'compliment'
- else
  %p This user hasn't sent any compliments.
%h3 Compliments Received:
- if @user.received_compliments.any?
  = render partial: 'compliments/received_compliment', collection: @user.received_compliments, as: 'compliment'
  - unless @user.id == current_user.id 
    .new-compliment
      %button{class: 'btn btn-default'} Compliment #{@user.name}!
- else
  %p This user hasn't received any compliments yet.
  .new-compliment
    %button{class: 'btn btn-default'} Why not pay them one?
.hidden-form
  = render partial: 'compliments/bare_form'